<header class="site-header minetan sticky" role="banner">
  <div class="header-top">
    <div class="container">
      {% include 'header-top-all-brands' %}
    </div>
  </div>
    
  <div class="header-bottom aaa">
    <div class="container">
      <div class="header-panel">
        <div class="row">
          <h1 class="header-logo col-xs-4">
            <div class="menu-block visible-phone"><!-- start Navigation Mobile  -->
              <div id="showLeftPush"></div>
            </div><!-- end Navigation Mobile  -->
            <a href="/collections/mine-professional">
              {{ 'mine-logo.png' | asset_url | img_tag: shop.name }}
              {% if settings.enable_retina %}
                {{ 'mine-logo.png' | asset_url | img_tag: shop.name }}
              {% endif %}
            </a>
          </h1>
          <!-- <div class="nav-search on">{% include 'search-bar' %}</div> -->
        </div>

      </div>
    </div>
    
    <nav class="nav-bar" role="navigation" >
      <div class="header-logo-fix">
        <a href="http://new.staging.minetanbodyskin.com/">{{ 'mine-logo.png' | asset_url | img_tag: shop.name }}</a>
      </div>
      <div class="container">
        {% include 'mine-nav' %}     
      </div>
    </nav>
  </div>
</header>