{% if settings.display_social %}      
  <ul class="social-networks">
    <li><a href="https://www.facebook.com/minetanbodyskin" class="facebook" target="_blank">facebook</a></li>
    <li><a href="https://www.pinterest.com/minetanbodyskin/" class="pinterest" target="_blank">pinterest</a></li>
    <li><a href="https://www.instagram.com/minetanbodyskin/" class="instagram" target="_blank">instagram</a></li>
    <li><a href="https://www.linkedin.com/company/marque-of-brands" class="linkedin" target="_blank">linkedin</a>
    </li><li><a href="https://www.youtube.com/user/minetanbodyskin" class="youtube" target="_blank">youtube</a></li>
  </ul>
{% endif %}