{% if settings.display_social %}      
  <ul class="social-networks">
    <li><a href="https://www.facebook.com/btan.rocks/" class="facebook" target="_blank">facebook</a></li>
    <li><a href="https://www.instagram.com/btan.rocks" class="instagram" target="_blank">instagram</a></li>
  </ul>
{% endif %}