{% if settings.display_social %}      
  <ul class="social-networks">
    <li><a href="https://www.facebook.com/sttropezpro" class="facebook" target="_blank">facebook</a></li>
    <li><a href="https://twitter.com/StTropezTan" class="twitter" target="_blank">linkedin</a>
    </li><li><a href="https://www.youtube.com/user/StTropezSelfTan" class="youtube" target="_blank">youtube</a></li>
    <li><a href="http://www.pinterest.com/sttropeztanau/" class="pinterest" target="_blank">pinterest</a></li>
    <li><a href="https://www.instagram.com/sttropeztan/" class="instagram" target="_blank">instagram</a></li>
  </ul>
{% endif %}