{% if settings.display_social %}      
  <ul class="social-networks">
    <li><a href="https://www.youtube.com/channel/UChHSnxuR7rF0oc_ZCxdb7PA" class="youtube" target="_blank">youtube</a></li>
  </ul>
{% endif %}